# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Models
models/*.pkl
models/*.joblib

# MLflow
mlruns/

# Environment Variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Ignore datasets
data/raw/

# Ignore processed data
data/interim/
data/processed/
*.csv